<a href="https://colab.research.google.com/github/Yigael-Laloum/Yigael-Laloum/blob/main/%D7%A2%D7%95%D7%AA%D7%A7_%D7%A9%D7%9C_6_%D7%A9%D7%95%D7%95%D7%99%D7%95%D7%9F_%D7%95%D7%96%D7%94%D7%95%D7%AA_%D7%9C%D7%9C%D7%90_%D7%A4%D7%AA%D7%A8%D7%95%D7%9F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![מטלות.jpg](https://drive.google.com/uc?export=view&id=1-BH5tyJQQFyuiP1yKmQk9jY_zXtf0vDL)

<div dir="rtl" lang="he">

#**<pre>          יצוג משתנים בזכרון**

<div dir="rtl" lang="he">

בפייתון כל משתנה מיוצג בזיכרון על ידי שני ערכים:
* מצביע - הנוצר במחסנית stack ומצביע לערך של המשתנה הממוקם בערימה.
* ערך המשתנה - הנוצר בערימה heap.

כאשר שני משתנים מצביעים לאותו ערך, אנו קוראים למצב זה aliasing.


<div>
<img src="https://drive.google.com/uc?export=view&id=1-Fr3JggMcVp-7FvkMd30T73XTZnuFZHA" width="400" height="300" border="3px"/>

<img src="https://drive.google.com/uc?export=view&id=1-ILDHeC7eH9Pp0mXo0MYjCqFjNoo8yIz" width="400" height="300" border="3px"/>


</div>

In [ ]:
a = "Gilad"
b = a
a = "Orly"
print(b)

In [ ]:
a = [1, 3, 5]
b = a
a = [3, 3, 3]
print(b)

<div dir="rtl" lang="he">

**mutable vs. Immutable**

*   mutable - ניתן לשינוי. משתנים אילו ניתן לשנות את הערך שלהם בערמה.
*   immutable - א ניתן לשינוי. במשתנים אילו לא ניתן לשנות את הערך בערימה. שינוי של הערך מחייב יצירת ערך חדש והמצביע מתעדכן למיקום הערך החדש.

> **דוגמה:**

In [ ]:
a = [1,2]
b = a         # aliasing
b[1] = 3      # שינוי הערך בערימה
print(a)      # מדפיס את הערך שהשתנה

[1, 3]

In [ ]:
a = "text"      # immutable
b = a           # aliasing
a = a.upper()   # יצירת ערך חדש בערימה ולא שינוי של הערך הקיים
print(b)        # text
print(a)        # TEXT

<div dir="rtl" lang="he">

#**<pre>          העתקה - copy**

<div dir="rtl" lang="he">

פעולת ההצבה (=) מבצעת העתקה של המצביע בלבד ולא של הערך. על כן, פעולה זו יוצרת aliasing ולא ערך חדש.

אם אנחנו מעוניינים לבצע העתקה של משתנה תוך "שכפול" הערך בערימה, עלינו להשתמש בפעולות אחרות ולא רק בהצבה.

**שכפול רשימה:**

נראה מספר דרכים לבצע שכפול של רשימה

*   הפונקציה ()copy
*   יצירת רשימה חדשה באמצעות ()list

In [ ]:
lst1 = [1,2,3]
lst2 = lst1           # aliasing
lst3 = lst1.copy()    # העתקה
lst4 = list(lst1)     # יצירת רשימה חדשה

lst1.append(4)

print(lst1)
print(lst2)
print(lst3)
print(lst4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3]

<div dir="rtl" lang="he">

#**<pre>          העתקה רדודה - העתקה עמוקה**

<div dir="rtl">

פעולות העתקה שראינו לעיל עוברות על כל הערכים של הרשימה ויוצרים רשימה חדשה עם העתק של הערכים.
מה קורה אם הערכים של הרשימה הם מצביעים בעצמם ? לדוגמה במקרה של רשימה דו מימדית.

במקרה זה שיטות העתקה שראינו לעיל יבצעו העתקה של המצביע (שנמצא בערימה) ולא העתקה של הערך אליו הוא מצביע. נדגים:

In [ ]:
lst = [[1,2], [3,4]]
print(lst)
lst_copy = lst.copy() # shellow copy
lst[0][1] = 5
print(lst_copy)

[[1, 2], [3, 4]]
[[1, 5], [3, 4]]

In [ ]:
lst[0] = [6,7]
print(lst_copy)
lst[1][1] = 12
print(lst_copy)

[[1, 5], [3, 4]]
[[1, 5], [3, 12]]


<div>
<img src="https://drive.google.com/uc?export=view&id=1-IkWrjuwd5Gx-mbh636maKDLjo6SeC2B" width="300"/>
</div>

<div dir="rtl" lang="he">

**העתקה עמוקה**

 על מנת לבצע העתקה עמוקה עלינו להשתמש  בפונקציה מתאימה: () deepcopy

In [ ]:
import copy
lst = [[1,2], [3,4]]
print(lst)
lst_copy = copy.deepcopy(lst) # deep copy
lst[0][1] = 5
print(lst_copy)
print(lst)

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]
[[1, 5], [3, 4]]

<div dir="rtl" lang="he">

##**<pre>תרגיל**

כתבו פונקציה המקבלת רשימה דו מימדית שכל איבר הוא טאפל של מספרים, ומחזירה העתק עמוק של הרשימה. אין להשתמש בפונקציה deepcopy.

In [ ]:
def deep_copy (lst):
  copy_lst = []
  for row in lst:
    lst1 = []
    for item in row:
      lst1.append(item)
    copy_lst.append(lst1)
  return copy_lst

In [ ]:

lst = [[(1,2),(3,4), (5,6)],[(7,8),(9,10)]]

lst2 = deep_copy(lst)
print (lst2)
lst[0][0] = (0,0)
print(lst)
print(lst2)

<div dir="rtl" lang="he">

#**<pre>          שוויון בין אובייקטים**

<div dir="rtl" lang="he">

* האופרטור == מבצע שוויון בין ערכי המשתנה.
* האופרטור is בודק אם מדובר באותו אובייקט.

In [ ]:
a = [1, 2]
b = [1, 2]
c = a
print(a == b) # true - The value is equal
print(a is b) # false - two different objects
print(a is c) # true - the same object.

<div dir="rtl" lang="he">

#**<pre>          יחס בין אובייקטים והפונקציה sort**

<div dir="rtl" lang="he">

על מנת שנוכל למיין רשימה של אובייקטים עלינו להגדיר "סדר" בין האובייקטים.

"סדר" מחייב להגדיר את להגדיר את היחס גדול מ או קטן מ.

יחס סדר מוגדר לנו על ידי פייתון בין מספרים וגם בין מחרוזות:
* בין מספרים - יחס אריטמטי רגיל.
* בין מחרוזות - יחס מילוני לקסיקוגרפי

לגבי אובייקטים אחרים עלינו להגדיר בעצמנו את היחס. לעיתים היחס מוגדר אך לא מתאים לנו, ולעיתים אין כלל הגדרה של היחס.

In [ ]:
a = "5"
b = 5
print (a > b) # error

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
a = [2, 2]
b = [3, 4]
c = [1, 12]
print(b > a)
print(c > a)

True
False

<div dir="rtl" lang="he">

**sort - sorted**

הפעולה sort של list ממיינת את המחרוזת עליה היא מופעלת ומשנה את המחרוזת.

הפעולה sorted מחזירה מחרוזת חדשה וממוינת.

In [ ]:
lst1 = [1, 2, 4, 3]
lst1.sort(reverse=True)
print(lst1)

[4, 3, 2, 1]

In [ ]:
lst2 = [1, 2, 3, 4]
lst3 = sorted(lst2, reverse=True)
print(lst2)
print(lst3)

[1, 2, 3, 4]
[4, 3, 2, 1]

<div dir="rtl" lang="he">

על מנת למיין מחרוזת של אובייקטים עלינו להגדיר את יחס הסדר בין האובייקטים.

הפעולות sort יכולות לקבל פונקציה אשר תחזיר ערך שעל פיו יקבע היחס.
מקובל להשתמש בפונקציות lambda לצורך כך.
הפונקציה מקבלת איבר מהרשימה ומחזירה ערך בעל סדר ידוע לפייתון שעל פיו הרשימה ממוינת.

נדגים עם מחרוזת של טאפלים.

In [ ]:
lst3 = [(3,4), (1,2), (3,3), (0, 5), (5,0)]
lst3.sort()
print(lst3) # ממיין לפי האיבר הראשון

[(0, 5), (1, 2), (3, 3), (3, 4), (5, 0)]

In [ ]:
my_sort = lambda x : x[0]+x[1]
lst3 = [(3,4), (1,2), (3,3), (0, 5), (5,0)]
lst3.sort(key=lambda x : x[0]+x[1]) # ממיין לפי סכום האיברים
print(lst3)

[(1, 2), (0, 5), (5, 0), (3, 3), (3, 4)]

In [ ]:
def my_sort(x):
  return x[0]+x[1]

lst3 = [(3,4), (1,2), (3,3), (0, 5), (5,0)]
lst3.sort(key=my_sort, reverse=True)          #  ממיין לפי סכום האיברים בסדר הפוך
print(lst3)

[(3, 4), (3, 3), (0, 5), (5, 0), (1, 2)]

In [ ]:
lst4 = [1,22,3,12,4,5,61]
lst4.sort(key = lambda v: -v )
print(lst4)

[61, 22, 12, 5, 4, 3, 1]

<div dir="rtl" lang="he">

##**תרגיל מיון רשימה**

<div dir="rtl" lang="he">

**תרגיל**

תאריך בשאלה זו הינו טאפל הכולל (יום, חודש, שנה).

כתבו פעולה המקבלת רשימה של תאריכים וממיינת אותם מהתאריך המוקדם למאוחר.
עליכם להשתמש בפונקציה sort ובפונקציה למבדה.

רמז: המירו את התאריך למספר אחד שניתן להשוואה

In [ ]:
lst = [(12,8,2020), (12,8,1968), (13,8,2020), (12,9,2020)]

<div dir="rtl" lang="he">

**תרגיל**

כתבו פעולה המקבלת רשימה של מספרים שלמים וממיינת אותם לפי ספרת האחדות.
יש להשתמש בפונקציית למבדה.
אם ספרת האחדות זהה אין חשיבות לסדר ביניהם.

<div dir="rtl" lang="he">

#**<pre>          הפונקציות map, filter, zip - רשות**

<div dir="rtl" lang="he">


##**הפונקציה map**

<div dir="rtl" lang="he">

 map מכילה פונקציה מסויימת על כל האיברים של אובייקט הניתן לסריקה, כגון רשימה, וכך משנה כל איבר בהתאם לפונקציה המוכלת.
  
הפונקציה מחזירה אובייקט מסוג iterator.

<div dir="ltr">

* iter = map(function, iterable_object)

In [ ]:
def double (x):
  return 2*x

lst = [3, -3, 2, 0, 10, -11]

iter = map(double, lst)
print(iter)
print(next(iter))

lst1 = list(iter)
print(lst1)

In [ ]:
iter = map(lambda x : 2*x, lst)
print(list(iter))

<div dir="rtl" lang="he">

##**הפונציה filter**

<div dir="rtl" lang="he">

filter - מפעילה על כל איבר את הפונקציה שהתקבלה. אם מוחזר אמת האיבר מוכלל בתשובה

הפונקציה מחזירה אוביקט מסוג Iterator הכולל רק אותם איברים שעמדו בתנאי שהתקבל.

<div dir="ltr">

* iter = filter (function, iterable_object)

In [ ]:
lst = [3, -3, 2, 0, 10, -11]
iter = filter(lambda x : x > 0, lst)
print(list(iter))

<div dir="rtl" lang="he">

##**הפונקציה zip**

<div dir="rtl" lang="he">

zip - נועד לאחד מספר אובייקטים הניתנים לסריקה לאובייקט אחד של טאפלים. כל טאפל כולל איבר מאובייקט אחר.

הפונקצינ מחזירה אובייקט מסוג iterator.

<div dir="ltr">

* iter = zip (iterable1, iterable2,...)

In [ ]:
x_values = [1, 2, 3]
y_values = [4, 5, 6]
iter = zip(x_values, y_values)
print(list(iter))

<div dir="rtl" lang="he">

#**<pre>         list comperhension - רשות**

<div dir="rtl" lang="he">

list comperhension היא דרך מקוצרת ליצירת רשימה.

<div dir="rtl">

new_list = [expression(item) for item in iterable if condition(item)]

In [ ]:
lst1 = [x * 2 for x in range(10)]
print(lst1)

In [ ]:
lst2 = [x for x in range(20) if x % 2 == 0]
print(lst2)

In [ ]:
text = "Hello World"
uppercase_letters = [char for char in text if char.isupper()]
print(uppercase_letters)  # Output: ['H', 'W']

<div dir="rtl">

##**<pre> תרגיל**

כתבו פונקציה is_prime המקבלת מספר ומחזירה אמת אם המספר ראשוני.
ניתן לכתוב פונקציה רגילה.

השתמשו בפונקציה שכתבתם וצרו רשימה של כל המספרים הראשונים מ עד 100 באמצעות list comperhension

In [ ]:

print(lst)